<div class="container">
    <div class="container">
        <a class="btn btn-default" href="#/app/users/add">Add Users</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>ID</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.uid}}</td>
                <th><button ng-click="deleteUser(user._id, $index)">Delete</button></th>
            </tr>
        </tbody>
    </table>
</div>
