<div class="container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>ID</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.uid}}</td>
                <th><button class="btn btn-primary" ng-click="editUser(user, $index)">Edit</button>
                <button class="btn btn-danger" ng-click="deleteUser(user._id, $index)">Delete</button></th>
            </tr>
        </tbody>
    </table>
</div>
